<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h6>Employee List</h6>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr.no</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email Id</th>
                                    <th class="text-center">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for(item of employelist; track $index){
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.emailId}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger mx-2" (click)="ondelete(item.empId)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="row">
            <div class="card">
                <div class="card-header bg-color-success">
                    <h4>New Employee</h4>
                </div>

                <div class="card-body">

                    <form [formGroup]="employeeform">
                        <div class="row">

                            <div class="col-md-12">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" formControlName="name">
                                <div class="text-danger">
                                     @if(employeeform.controls['name'].touched){
                                    @if(employeeform.controls['name'].errors?.['required']){
                                        <span>Name Is Required</span>
                                    }
                                }
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <label for="name">phone No</label>
                                <input type="number" class="form-control" formControlName="contactNo">
                            </div>
                            <div class="col-md-6">
                                <label for="name">Email ID</label>
                                <input type="Email" class="form-control" formControlName="emailId">
                            </div>

                            <div class="col-md-6">
                                <label for="name">City</label>
                                <input type="Email" class="form-control" formControlName="city">
                            </div>

                            <div class="col-md-6">
                                <label for="name">State</label>
                                <input type="Email" class="form-control" formControlName="state">
                            </div>

                            <div class="col-md-6">
                                <label for="name">Pin Code</label>
                                <input type="Email" class="form-control" formControlName="pincode">
                                <div class="text-danger">
                                     @if(employeeform.controls['pincode'].touched){
                                    @if(employeeform.controls['pincode'].errors?.['required']){
                                        <span>Name Is Required</span>
                                    }

                                     @if(employeeform.controls['pincode'].errors?.['minlength']){
                                        <span>minmum length 6 character Required</span>
                                    }
                                }
                                </div>
                               
                            </div>

                            <div class="col-md-12">
                                <label for="name">Address</label>
                                <input type="Email" id="txtbox" class="form-control" formControlName="address">
                            </div>
                        </div>
                    </form>


                    <div class="row mt-4 pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" (click)="Reset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            @if(employeeform.controls['empId'].value == '0'){
                            <button class="btn btn-primary" [disabled]="employeeform.invalid" (click)="onSave()">Save</button>
                            }@else{
                                <button class="btn btn-warning" [disabled]="employeeform.invalid" (click)="onupdate()">update</button>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>